{% extends BASE_TEMPLATE %}

{% block css %}

    <link rel="stylesheet" href="{{ STATIC_URL }}/core/css/form.min.css">
    <style>
        #main {
            padding-bottom: 0 !important;
        }

        .required_star {
            color: rgba(244, 67, 54, 0.72) !important;
        }

        .dataTable tbody tr {
            cursor: pointer;
        }

        .dataTable {
            margin: 0 auto;
            width: 100%;
            clear: both;
            border-collapse: collapse;
            table-layout: fixed;
            word-wrap: break-word;
        }
    </style>
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <section id="main">
        <div class="loader">
            <center>
                <img class="loading-image" src="{{ STATIC_URL }}img/ajax-loader/ajax-loader (1).gif" alt="Loading..">
            </center>
        </div>
            <section id="content" class="content-alt">
                <div class="container">
                    {% set icons = '
                    <li>
                        <a href="#">
                            <i class="zmdi zmdi-plus-circle-o-duplicate c-black" id="add_stock_button" title="Add Note"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="zmdi zmdi-edit" id="edit_stock_button" title="Edit Note"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-account" id="share_stock_button" title="Share Note"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="zmdi zmdi-delete" id="delete_stock_button" title="Delete Note"></i>
                        </a>
                    </li>

                ' %}
                    {% with icons=icons, table_id='stock_list', table_header='Note List', search_title='Search Note' %}
                        {% include 'core/datatable.html' %}
                    {% endwith %}
                </div>
            </section>
        </section>
        <!-- Add modal -->
        <div class="modal fade" id="stock_add_edit_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="zmdi zmdi-account-box m-r-10"></i> <span></span> Note</h4>
                    </div>
                    <form id="stock_add_edit_form" method="">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 m-t-20">
                                    <div class="form-group">
                                        <div class="fg-line">
                                            <label class="control-label">Title <span
                                                    class="required_star"> *</span></label>
                                            <input type="text"
                                                   name="title"
                                                   id="note_title"
                                                   class="form-control"
                                                   data-parsley-trigger="change"
                                                   data-parsley-required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group ">
                                        <div class="fg-line">
                                            <label class="control-label">Content <span
                                                    class="required_star">*</span></label>
                                            <textarea class="form-control"
                                                      name="content"
                                                      id="note_content"
                                                      required
                                                      data-parsley-trigger="change"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="display: none">
                                    <div class="form-group">
                                        <div class="fg-line">
                                            <label class="control-label">Page qty per toner <span
                                                    class="required_star"> *</span></label>
                                            <input type="number"
                                                   name="created_by"
                                                   class="form-control"
                                                   value="{{ request.user.id }}"
                                                   data-parsley-required="" hidden>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn bgm-bluegray waves-effect" id="save_stock_button"></button>
                            <button type="button" class="btn bgm-gray waves-effect" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Share modal -->
        <div class="modal fade" id="stock_share_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="zmdi zmdi-account-box m-r-10"></i> <span></span> Note</h4>
                    </div>
                    <form id="stock_share_form" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 m-t-20">
                                    <div class="form-group">
                                        <label class="control-label">Shared With<span
                                                class="required_star">*</span></label>
                                        <select class="selectpicker"
                                                id="user_list"
                                                tabindex="10"
                                                data-live-search="true"
                                                name="shared_with"
                                                data-parsley-required="">
                                            <option value="">Nothing Selected</option>
                                            {% for user in user_list %}
                                                {% if user.id != request.user.id %}
                                                <option value="{{ user.id }}">{{ user.username }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6" style="display: none">
                                    <div class="form-group">
                                        <div class="fg-line">
                                            <label class="control-label">Note ID <span
                                                    class="required_star"> *</span></label>
                                            <input type="text"
                                                   name="note"
                                                   class="form-control"
                                                   value=""
                                                   data-parsley-required="" hidden>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn bgm-bluegray waves-effect" id="share_submit_button">Share</button>
                            <button type="button" class="btn bgm-gray waves-effect" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Delete Confirmation modal -->
        <div class="modal fade positive_modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Do You want to delete this Info?</h4>
                    </div>
                    <div class="modal-body">
                        <p>A positive modal body</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script type="text/javascript">
        let toner_stock_api = "{{ url('api:note-list') }}";
        let note_share_api = "{{ url('api:note_share-list') }}";
        {#let note_status_update_api = "{{ url('api:update_status') }}";#}
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}/core/js/form.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/core/js/crud_common.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/note/note_crud.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/core/js/doT.js></script>
{% endblock %}